@{
    ViewBag.Title = "Contact";
}

<h2>Sass examples</h2>

@*<div class="row">
    <h3>Mid-Small (-ms) Bootstrap breakpoint (480px - 767px) addition</h3>

    <div class="col-xs-12 no-padding">
        <div class="demo">
            <p class="visible-xs">Xtra Small (0px - 479px)</p>
            <p class="visible-ms">Mid Small (480px - 767px)</p>
            <p class="visible-sm">Small (768px - 991px)</p>
            <p class="visible-md">MD (992px - 1199px)</p>
            <p class="visible-lg">LG (1200px +)</p>
        </div>
    </div>
</div>*@

@*<br /><br />

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <fieldset>
            <legend>Radio Control Quality</legend>
            <label for="accessible">
                <input type="radio" value="accessible" name="quality" id="accessible"> <span>accessible</span>
            </label>
            <label for="pretty">
                <input type="radio" value="pretty" name="quality" id="pretty"> <span>pretty</span>
            </label>
            <label for="accessible-and-pretty">
                <input type="radio" value="pretty" name="quality" id="accessible-and-pretty" checked> <span>accessible and pretty</span>
            </label>
        </fieldset>
    </div>
</div>

<a href="#" class="hvr-pulse">Add to Basket</a>

<br /><br />

<ul class="test-alternate">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
    <li>Five</li>
    <li>Six</li>
    <li>Seven</li>
    <li>Eight</li>
    <li>Nine</li>
</ul>

<br /><br />*@


@*<div class="banner">
    <div class="item animated">
        <p>This is item one...</p>
    </div>
    <div class="item animated">
        <p>This is item two...</p>
    </div>
    <div class="item animated">
        <p>This is item three...</p>
    </div>
</div>

<script>
    $(document).ready(function () {

        //Elements to loop through
        var elem = $('.item');
        //Start at 0
        i = 0;

        function getSlides() {
            //Loop through elements
            $(elem).each(function (index) {
                var totalSlides = $(elem).length;

                // first item
                if (i == index) {
                    //Show active element
                    $(this).removeClass("fadeOutDown")
                    $(this).addClass("fadeInDown")
                    $(this).show();
                }
                // last item
                else if (i == totalSlides) {
                    //Show message
                    $(this).removeClass("fadeOutDown");
                    $(this).addClass("fadeInDown")
                    $(this).show();
                    //Reset i 1st number is reached
                    i = 0;
                }
                else {
                    // FadeOutDown non active elements
                    $(this).addClass("fadeOutDown");
                }
            });
            i++;
        }

        //Run once the first time
        getSlides();

        //Repeat
        window.setInterval(getSlides, 3000);
    });
</script>*@

<span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
</span>