@{
    ViewBag.Title = "Contact";
}

<h2>Sass examples</h2>

@*<div class="row">
    <h3>Mid-Small (-ms) Bootstrap breakpoint (480px - 767px) addition</h3>

    <div class="col-xs-12 no-padding">
        <div class="demo">
            <p class="visible-xs">Xtra Small (0px - 479px)</p>
            <p class="visible-ms">Mid Small (480px - 767px)</p>
            <p class="visible-sm">Small (768px - 991px)</p>
            <p class="visible-md">MD (992px - 1199px)</p>
            <p class="visible-lg">LG (1200px +)</p>
        </div>
    </div>
</div>*@

@*<br /><br />

<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <fieldset>
            <legend>Radio Control Quality</legend>
            <label for="accessible">
                <input type="radio" value="accessible" name="quality" id="accessible"> <span>accessible</span>
            </label>
            <label for="pretty">
                <input type="radio" value="pretty" name="quality" id="pretty"> <span>pretty</span>
            </label>
            <label for="accessible-and-pretty">
                <input type="radio" value="pretty" name="quality" id="accessible-and-pretty" checked> <span>accessible and pretty</span>
            </label>
        </fieldset>
    </div>
</div>

<a href="#" class="hvr-pulse">Add to Basket</a>

<br /><br />

<ul class="test-alternate">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
    <li>Five</li>
    <li>Six</li>
    <li>Seven</li>
    <li>Eight</li>
    <li>Nine</li>
</ul>

<br /><br />*@


@*<div class="banner">
    <div class="item animated">
        <p>This is item one...</p>
    </div>
    <div class="item animated">
        <p>This is item two...</p>
    </div>
    <div class="item animated">
        <p>This is item three...</p>
    </div>
</div>

<script>
    $(document).ready(function () {

        //Elements to loop through
        var elem = $('.item');
        //Start at 0
        i = 0;

        function getSlides() {
            //Loop through elements
            $(elem).each(function (index) {
                var totalSlides = $(elem).length;

                // first item
                if (i == index) {
                    //Show active element
                    $(this).removeClass("fadeOutDown")
                    $(this).addClass("fadeInDown")
                    $(this).show();
                }
                // last item
                else if (i == totalSlides) {
                    //Show message
                    $(this).removeClass("fadeOutDown");
                    $(this).addClass("fadeInDown")
                    $(this).show();
                    //Reset i 1st number is reached
                    i = 0;
                }
                else {
                    // FadeOutDown non active elements
                    $(this).addClass("fadeOutDown");
                }
            });
            i++;
        }

        //Run once the first time
        getSlides();

        //Repeat
        window.setInterval(getSlides, 3000);
    });
</script>*@

<span class="fa-stack fa-3x">
    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
</span>



@*<script src="~/Scripts/jquery-1.11.1.min.js"></script>

<div class="col-xs-12 collector-signup-ticker">
    <div class="col-xs-12 col-md-2 live-updates">Live updates</div>
    <div class="col-xs-12 col-md-7 ticker-wrapper">
        <div id="tickerData" class="col-xs-12 ticker">
            @*<div class="item animated">
                    Toni has just signed up to collect in Clapham Junction
                </div>
                <div class="item animated">
                    Justin has just signed up to collect in Clapham Junction
                </div>
                <div class="item animated">
                    Aamar has just signed up to collect in Clapham Junction
                </div>
                <div class="item animated">
                    Sam has just signed up to collect in Elder Scrolls Online
                </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="col-xs-6 pause">
            <a href="#" class="fa fa-pause" id="pauseTicker">Pause</a>
        </div>
        <div class="col-xs-6 cta">
            <a class="btn btn-primary">Sign up now</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Run once the first time with no delay
        refreshData();

        window.setInterval(refreshData, 60000);

        function refreshData() {
            $.ajax({
                url: '/api/CollectorSignUp/latest',
                type: 'GET',
                success: function (data) {
                    if (data) {
                        if (data.length < 5) {
                            $('.collector-signup-ticker').hide();
                        }
                        else {
                            $('.collector-signup-ticker').show();
                            $('#tickerData').html('');

                            console.log("-- refreshData --");

                            for (i = 0; i < data.length; i++) {
                                var fName = data[i].firstName;
                                var sName = data[i].siteName;

                                var div = '<div class="item animated">';
                                div += fName + ' has just signed up to collect in ' + sName;
                                div += "</div>"
                                $(div).appendTo('#tickerData');
                            }

                            //Run once the first time with no delay
                            getSlides();
                        }
                    }
                    else {
                        $('.collector-signup-ticker').hide();
                    }
                }
            });
        }

        i = 0;

        function getSlides() {
            var elem = $('.item');

            //Loop through elements
            $(elem).each(function (index) {
                var totalSlides = $(elem).length;

                // first item
                if (i == index) {
                    //Show active element
                    $(this).removeClass("fadeOutDown")
                    $(this).addClass("fadeInDown")
                    $(this).show();
                }
                // last item
                else if (i == totalSlides) {
                    //Show message
                    $(this).removeClass("fadeOutDown");
                    $(this).addClass("fadeInDown")
                    $(this).show();
                    //Reset i when first number is reached
                    i = 0;
                }
                else {
                    // FadeOutDown non active elements
                    $(this).addClass("fadeOutDown");
                }
            });
            i++;
        }

        $('#pauseTicker').click(function (e) {
            e.preventDefault();
            toggleTicker();
        })

        //Repeat
        var timer = null;

        toggleTicker();

        function toggleTicker() {
            if (timer == null) {
                timer = window.setInterval(getSlides, 4000);
                $('#pauseTicker').removeClass("fa-play").addClass("fa-pause");
                $('#pauseTicker').html("Pause");
            }
            else {
                clearInterval(timer);
                timer = null;
                $('#pauseTicker').removeClass("fa-pause").addClass("fa-play");
                $('#pauseTicker').html("Play");
            }
        }
    });
</script>*@

<script src="~/Scripts/jquery-1.11.1.min.js"></script>

<div class="col-xs-12 collector-signup-ticker">
    <div class="col-xs-12 col-md-2 live-updates">Live updates</div>
    <div class="col-xs-12 col-md-7 ticker-wrapper">
        <div class="col-xs-12 ticker">
            <div class="item animated">
                Toni has just signed up to collect in Clapham Junction
            </div>
            <div class="item animated">
                Justin has just signed up to collect in Clapham Junction
            </div>
            <div class="item animated">
                Aamar has just signed up to collect in Clapham Junction
            </div>
            <div class="item animated">
                Sam has just signed up to collect in Elder Scrolls Online
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-3">
        <div class="col-xs-6 pause">
            <a href="#" class="fa fa-pause">Pause</a>
        </div>
        <div class="col-xs-6 cta">
            <a class="btn btn-primary">Sign up now</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var elem = $('.item');
        i = 0;

        function getSlides() {
            //Loop through elements
            $(elem).each(function (index) {
                var totalSlides = $(elem).length;

                // first item
                if (i == index) {
                    //Show active element
                    $(this).removeClass("fadeOutDown")
                    $(this).addClass("fadeInDown")
                    $(this).show();
                }
                // last item
                else if (i == totalSlides) {
                    //Show message
                    $(this).removeClass("fadeOutDown");
                    $(this).addClass("fadeInDown")
                    $(this).show();
                    //Reset i when first number is reached
                    i = 0;
                }
                else {
                    // FadeOutDown non active elements
                    $(this).addClass("fadeOutDown");
                }
            });
            i++;
        }

        //Run once the first time
        getSlides();

        //Repeat
        window.setInterval(getSlides, 4000);
    });
</script>