﻿@{
    ViewBag.Title = "Flexbox";
}

<h2>Flexbox</h2>

<div class="container">

    <div class="flex-row">
        <div class="flex-item two-third no-padding">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=620%C3%97390&w=620&h=390" />
        </div>
        <div class="flex-item one-third">
            <div class="flex-item bgblue">
                <div class="content-block">
                    <p>111</p>
                </div>
            </div>
            <div class="flex-item bghover">
                <div class="content-block">
                    <p>222</p>
                </div>
            </div>
            <div class="flex-item bgred">
                <div class="content-block">
                    <p>333</p>
                    <p>333</p>
                    <p>333</p>
                    <p>333</p>
                    <p>333</p>
                </div>
            </div>
            <div class="flex-row-inner">
                <div class="flex-item bggreen">
                    <p>444</p>
                </div>
                <div class="flex-item bgblue">
                    <p>555</p>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-item two-third no-padding">
            <div class="no-flex top no-padding">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=620%C3%97145&w=620&h=145" />
            </div>
            <div class="flex-item">
                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=620%C3%97390&w=620&h=390" />
            </div>
        </div>
        <div class="flex-item one-third">
            <div class="flex-item bggreen">
                <p>111</p>
            </div>
            <div class="flex-item bgyellow">
                <p>222</p>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-item bgyellow">
            <p>Full width</p><p>Full width</p><p>Full width</p><p>Full width</p>
        </div>
    </div>

    <div class="flex-row">
        <div class="flex-item bggreen">
            <p>111</p>
            <p>111</p>
            <p>111</p>
            <p>111</p>
        </div>
        <div class="flex-item bgyellow">
            <p>222</p>
        </div>
        <div class="flex-item bghover">
            <p>333</p>
        </div>
    </div>

</div>
