@{
    ViewBag.Title = "Flexbox";
}

<h2>Flexbox</h2>

<div class="container flex">
    <div class="col-flex columns">
        <div class="col-flex two-third bgred"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=620%C3%97390&w=620&h=390" /></div>
        <div class="col-flex rows">
            <div class="col-flex rows">
                <div class="col-flex bgblue"></div>
                <div class="col-flex bgorange"></div>
                <div class="col-flex columns">
                    <div class="col-flex bgyellow"></div>
                    <div class="col-flex bgpurple"></div>
                    <div class="col-flex bgpink"></div>
                </div>
            </div>
        </div>
    </div>
</div>