
        ﻿@{
            ViewBag.Title = "Flexbox";
        }

        <h2>Flexbox</h2>

        <div class="flex-wrapper">
            <div class="flex-row">
                <div class="flex-item two-third">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=620%C3%97390&w=620&h=390" />
                </div>
                <div class="flex-item one-third mb20">
                    <div class="flex-item-nofill bgblue">
                        <p>111</p>
                    </div>
                    <div class="flex-item bgyellow">
                        <p>111</p>
                    </div>
                    <div class="flex-item bgblue">
                        <p>111</p>
                    </div>
                    <div class="flex-row-inner">
                        <div class="flex-item bgblue">
                            <p>111</p>
                        </div>
                        <div class="flex-item bgblue">
                            <p>111</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
