@{
    ViewBag.Title = "Flexbox";
}

<h2>Flexbox</h2>

@*<div class="flex-wrapper">
    <div class="flex-row">
        <div class="flex-item two-third">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=620%C3%97390&w=620&h=390" />
        </div>
        <div class="flex-item one-third mb20">
            <div class="box bgblue">
                <p>111</p>
            </div>
            <div class="flex-item bgblue">
                <div class="row">
                    <div class="col-xs-6">
                        Left
                    </div>
                    <div class="col-xs-6">
                        Right
                    </div>
                </div>
            </div>
            <div class="flex-item bgblue">
                <p>111</p>
            </div>
            <div class="flex-item bgblue">
                <p>111</p>
            </div>
        </div>
    </div>
</div>*@

<div class="container flex" id="one">
    <div class="col-flex columns">
        <div class="col-flex two-third no-padding"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=620%C3%97390&w=620&h=390" /></div>
        <div class="col-flex rows">
            <div class="col-flex rows">
                <div class="col-flex bgblue">blue</div>
                <div class="col-flex bgorange">orange</div>
                <div class="col-flex columns one-third">
                    <div class="col-flex padded bgyellow">yellow</div>
                    <div class="col-flex bgpurple">purple</div>
                    <div class="col-flex bgpink">pink</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container flex" id="one">
    <div class="col-flex columns">
        <div class="col-flex bgblue">Full-width test</div>
    </div>
</div>
