@{
    ViewBag.Title = "Home Page";
}

<h2>DAM Digital - All Your Base Sass Framework</h2>
<p>This framework is designed to make front-end developer life easier when starting a new project.</p>
<p>It includes the following which can be added and removed easily via the base Sass:</p>

<ul class="features">
    <li>Core recommended Sass folder structure.</li>
    <li>Core recommended Sass file structure.</li>
    <li>Normalize.</li>
    <li>Starter mixins.</li>
    <li>Customized Bootstrap-Sass.</li>
    <li>Fontawesome-Sass.</li>
    <li>Custom media query syntax via mixins.</li>
    <li>"Family" Sass to make :nth-child syntax easier to use and more readable.</li>
    <li>Saffron animation library for easy transforms.</li>
    <li>Customized config.rb file for Compass Sass pre-processing.</li>
    <li>Autoprefixer included in config.rb to automatically prefix compiled CSS.</li>
    <li>Scss-lint example linting configuration.</li>
    <li>Flexbox layout styles and example markup.</li>
</ul>
