@{
    ViewBag.Title = "Home Page";
}

<header>
    <div class="container-fluid filter-nav">
        <div class="row-flex">
            <div class="col-xs-12 col-ms-6 col-sm-4 logo">
                <a href="/"><img src="~/Content/images/logo-damdigital.png" /></a>
            </div>
            <div class="col-xs-12 col-sm-8 filter-options">
                <nav>
                    <a id="home" href="/" class="filter-button reset">Home</a>
                    <a id=".what" href="what" class="filter-button" data-filter=".what">What</a>
                    <a id=".who" href="who" class="filter-button" data-filter=".who">Who</a>
                    <a id=".look" href="look" class="filter-button" data-filter=".look">Look</a>
                    <a id=".contact" href="contact" class="filter-button" data-filter=".contact">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<div id="isotope-grid" class="container-fluid grid">
    <div class="row">
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item who">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/dam-d.jpg" class="card-image" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="DAM Digital">DAM Digital</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item who">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/who-random.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Crisis">Crisis</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item what">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/what-boat.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Cosmos">Cosmos</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit sodales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item look">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/look-girl.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Avalon">Avalon</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item contact">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/what-germ.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="DAM Digital">DAM Digital</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item who">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/dam-a.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Crisis">Crisis</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item contact">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/what-sign.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Cosmos">Cosmos</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit sodales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item look">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/look-byron.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Avalon">Avalon</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item contact">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/what-flower.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="DAM Digital">DAM Digital</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item who">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/look-andrex.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Crisis">Crisis</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item what">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/what-squid.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Cosmos">Cosmos</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit sodales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item look">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/dam-m.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Avalon">Avalon</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item who">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/look-pizzaexpress.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="DAM Digital">DAM Digital</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item who">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/who-jordan.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Crisis">Crisis</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item what">
            <div class="flip-container map">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/who-toaster.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Find us">Find us</h2>
                            <div id="map"></div>
                            
                            <script>
                              function initMap() {
                                var uluru = {lat: -25.363, lng: 131.044};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 4,
                                    panControl: false,
                                    zoomControl: false,
                                    scaleControl: false,
                                    draggable: false,
                                    navigationControl: false,
                                    streetViewControl: false,
                                    scrollwheel: false,
                                    mapTypeControl: false,
                                    center: uluru
                                });
                                var marker = new google.maps.Marker({
                                  position: uluru,
                                  map: map
                                });
                              }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-ms-6 col-sm-4 col-md-3 col-lg-2 isotope-item look">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/look-postal.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Let's work together">Let's work together</h2>
                            <p>If you're interested in seeing how we can improve your digital presence, enhance your business or just fancy a chat.</p>
                            <form action="raa" class="text-center">
                                <textarea rows="5" cols="30" class="full-width"></textarea>
                                <input type="submit" class="button" value="Send" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

