
@{
    ViewBag.Title = "Sandbox";
}

<h2>Sandbox</h2>

<div class="sandbox">
    <p>Content above</p>

    <a class="toggle-content"></a>

    <div class="wrap">
        <div class="inner">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel aliquet lacus. Sed vel tellus commodo, imperdiet elit eu, iaculis mi. Proin viverra eget mauris quis porttitor. Ut enim ex, cursus et hendrerit eu, eleifend et sem. Proin luctus quam at nisl mattis semper. Morbi enim tellus, commodo ac sem ut, cursus mollis lacus. Vivamus ut ultrices dolor, vitae eleifend lorem. Cras ut malesuada neque. Pellentesque ornare pellentesque est at pellentesque. Aenean sed posuere lacus. In cursus, mi id vehicula vulputate, dolor leo eleifend arcu, ac posuere turpis turpis et purus. Nam viverra nibh ac nunc fringilla tristique. Duis in justo malesuada, ullamcorper urna ac, vulputate diam.</p>
            <p>Duis porttitor, nunc a auctor imperdiet, arcu lacus posuere arcu, eu consequat neque nulla nec velit. Sed et nunc porta, bibendum arcu nec, fringilla risus. Vestibulum maximus viverra elit quis efficitur. Phasellus tincidunt, dui vel rhoncus imperdiet, quam purus aliquet nunc, sit amet elementum lorem nunc volutpat enim. Sed posuere, risus vel fermentum ultrices, nunc est pharetra dui, a rhoncus velit eros vel nibh. Vivamus blandit congue felis, at sollicitudin nisi convallis sed. Cras mollis nulla ac auctor blandit. Vivamus dui turpis, commodo ac faucibus sit amet, interdum faucibus mauris. Suspendisse non dui convallis, rutrum eros tristique, dapibus lacus. Donec aliquet ipsum nec interdum aliquam. Morbi aliquam urna a massa placerat cursus. Maecenas quam purus, auctor id neque sed, eleifend ullamcorper tellus. Praesent viverra massa eget erat accumsan, et lobortis quam malesuada. Suspendisse ut nulla eget felis tempus placerat. Integer scelerisque viverra purus sit amet laoreet.</p>
            <p>Phasellus odio diam, consequat et rutrum ut, elementum viverra tellus. Donec euismod hendrerit rutrum. Duis dolor mi, hendrerit eu sagittis in, tristique ac velit. Etiam aliquet purus a vestibulum fringilla. Aenean ut pulvinar libero, vel pharetra purus. Nullam ullamcorper in elit sit amet semper. Morbi mi enim, tincidunt sit amet tristique nec, commodo ut neque. Fusce aliquam gravida tortor in vulputate. Quisque sed euismod diam, in hendrerit nunc. Curabitur non elit id tortor dapibus hendrerit vitae ut neque. In ut consequat orci.</p>
            <p>Duis rutrum ipsum vitae erat laoreet facilisis. Nam posuere pretium interdum. Vestibulum nec posuere odio. In faucibus ipsum sit amet ligula hendrerit, rutrum viverra dolor semper. Maecenas viverra aliquam lacus, nec pulvinar dolor convallis a. Pellentesque a libero et felis vestibulum commodo vitae sed turpis. Phasellus eu sem mauris.</p>
            <p>Curabitur tristique non velit vel pellentesque. Ut felis diam, maximus vitae aliquam vehicula, malesuada et turpis. Nullam at mi pulvinar, elementum risus vel, facilisis ante. Aliquam porttitor sapien eget metus dictum, in lacinia velit fringilla. Fusce nec vehicula turpis, quis pulvinar magna. Vivamus scelerisque justo at purus egestas laoreet. Integer erat orci, fermentum at rutrum ac, scelerisque at risus. Nunc vel nulla sit amet est luctus feugiat eget quis odio. Mauris ut auctor nunc.</p>
        </div>
    </div>

    <p>Content below</p>

</div>