
@{
    ViewBag.Title = "Sandbox";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-xs-2 col-sm-3" onmouseenter="this.classList.toggle('hover');" onmouseleave="this.classList.toggle('hover');" onclick="this.classList.toggle('hover');" style="border:1px solid red;">
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/dam-d.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h4 title="Pete's Story">Pete's Story</h4>
                            <p>You can come to the hospice each week for care and support. We will help you put a programme of care based on your individual needs. Lorem ipsum dolor sit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</div>

