
@{
    ViewBag.Title = "Sandbox";
}

<header>
    <div class="container-fluid filter-nav">
        <div class="row-flex">
            <div class="col-xs-12 col-sm-4 logo">
                <a href="/"><img src="~/Content/images/logo-damdigital.png" /></a>
            </div>
            <div class="col-xs-12 col-sm-8 filter-options">
                <nav>
                    <a href="/">Home</a>
                    <a href="#" class="filter-button" data-filter=".what">What</a>
                    <a href="#" class="filter-button" data-filter=".who">Who</a>
                    <a href="#" class="filter-button active" data-filter=".look">Look</a>
                    <a href="#" class="filter-button" data-filter=".contact">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <img src="~/Content/images/casestudies/barnnardos/feature.jpg" class="full-width" />

    <section class="at-a-glance">
        <h1>At a glance</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="infobox">
                    <h2>The client</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus quam tellus, et accumsan risus dignissim ut. Aenean nunc odio, pulvinar ac auctor mattis, commodo eget velit.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="infobox">
                    <h2>The client</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus quam tellus, et accumsan risus dignissim ut. Aenean nunc odio, pulvinar ac auctor mattis, commodo eget velit.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="infobox">
                    <h2>The client</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus quam tellus, et accumsan risus dignissim ut. Aenean nunc odio, pulvinar ac auctor mattis, commodo eget velit.</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="infobox">
                    <h2>The client</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus quam tellus, et accumsan risus dignissim ut. Aenean nunc odio, pulvinar ac auctor mattis, commodo eget velit.</p>
                </div>
            </div>
        </div>
    </section>

    <nav class="case-studies">
        <div class="row">
            <div class="col-xs-6 previous"><a href="#">Previous case study</a></div>
            <div class="col-xs-6 text-right next"><a href="#">Next case study</a></div>
        </div>
    </nav>

    <section class="full-width-panel bg-green">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h2>The challenge</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque </p>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="col-xs-12">
                    <h2>The response</h2>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <p>Laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum. Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    <div class="quote-block">
                        <blockquote>Possible quote goes here Possible quote goes here Possible quote goes here Possible quote goes here Possible quote goes here </blockquote>
                        <p class="author">Rohan Putter. Project Manager Barnardo's</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section>
            <h1 class="text-center">The result</h1>
            <div id="owl-ipad" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-ipad-1.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-ipad-1.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-ipad-1.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-ipad-1.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-ipad-1.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-ipad-1.jpg" />
                </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section>
            <h1 class="text-center">The result</h1>
            <div id="owl-iphone" class="owl-carousel owl-theme">
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-iphone-1.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-iphone-2.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-iphone-3.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-iphone-1.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-iphone-2.jpg" />
                </div>
                <div class="item">
                    <img src="~/Content/images/carousel/carousel-barnardos-iphone-3.jpg" />
                </div>
            </div>
        </section>
    </div>

</div>