
@{
    ViewBag.Title = "Sandbox";
}

<div class="container filter-nav">
    <div class="row">
        <div class="col-xs-12">
            <nav>
                <a href="#" class="filter-button" data-filter=".what">What</a>
                <a href="#" class="filter-button" data-filter=".who">Who</a>
                <a href="#" class="filter-button" data-filter=".look">Look</a>
                <a href="#" class="filter-button" data-filter=".contact">Contact</a>
            </nav>
        </div>
    </div>
</div>

<div class="container grid" data-isotope='{ "itemSelector": ".grid-item" }'>
    <div class="row">
        <div class="col-xs-2 col-sm-3 grid-item who">
            <div class="flip-container" onmouseenter="this.classList.toggle('hover');" onmouseleave="this.classList.toggle('hover');" onclick="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/dam-d.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="DAM Digital">DAM Digital</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-3 grid-item who">
            <div class="flip-container" onmouseenter="this.classList.toggle('hover');" onmouseleave="this.classList.toggle('hover');" onclick="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/who-random.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Crisis">Crisis</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-3 grid-item what">
            <div class="flip-container" onmouseenter="this.classList.toggle('hover');" onmouseleave="this.classList.toggle('hover');" onclick="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/what-boat.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Cosmos">Cosmos</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna, et pretium orci placerat eu. Nullam malesuada, ex dapibus blandit sodales.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-3 grid-item look">
            <div class="flip-container" onmouseenter="this.classList.toggle('hover');" onmouseleave="this.classList.toggle('hover');" onclick="this.classList.toggle('hover');">
                <div class="flipper">
                    <div class="front">
                        <div class="content-panel">
                            <img src="~/Content/images/look-girl.jpg" />
                        </div>
                    </div>
                    <div class="back">
                        <div class="content-panel">
                            <h2 title="Avalon">Avalon</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in finibus lectus. Etiam cursus orci in tincidunt euismod. Aenean tincidunt sem turpis, sed cursus ante sagittis non. Donec consectetur libero tellus, a placerat diam tristique nec. Nunc suscipit ullamcorper urna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

