
.site-footer {
    background: $black;

    & .dam-info {
        list-style-type: none;
        padding: 10px 0 0 0;
        margin: 0 0 0 10px;

        @include min($bp-md) {
            padding-top: 0;
            float: left;
        }

        & li {
            display: inline-block;
            color: $yellow;
            padding: 10px;

            @include min($bp-md) { padding: 20px; }
            @include min($bp-lg) { padding: 30px 20px; }
        }
    }

    & .dam-social {
        color: $white;
        list-style-type: none;
        padding-left: 10px;

        @include min($bp-md) {
            padding-left: 0;
            float: right;
        }

        & li {
            display: inline-block;
            padding: 10px;

            @include min($bp-md) { padding: 20px; }
            @include min($bp-lg) { padding: 30px 20px; }

            &:last-of-type {
                margin-right: 20px;
            }
        }
    }
}
