
.site-footer {
    background: $black;

    & .dam-info {
        padding: 10px 0 0 0;
        margin: 0 0 0 10px;
        list-style-type: none;

        @include min($bp-md) {
            padding-top: 0;
            float: left;
        }

        & li {
            display: inline-block;
            color: $yellow;
            padding: 10px;

            @include min($bp-md) { padding: 20px; }
            @include min($bp-lg) { padding: 30px 20px; }
        }
    }

    & .dam-social {
        @extend .dam-info;

        padding: 0 0 0 10px;

        @include min($bp-md) {
            padding-left: 0;
            float: right;
        }

        & li:last-of-type {
            margin-right: 20px;
        }
    }
}
