
// This is where the project specific styles will go.
// Clear styles below as they are specific to AllYourBase Framework demos.

/*.content-block {
    @include teeter();
    min-height: 300px;
    background: $black;
}*/

.grid .row {
    padding-left: 8px;
    padding-right: 8px;

    & [class*='col-'] {
        padding-left: 8px;
        padding-right: 8px;
    }

    & h2 {
        text-transform: uppercase;
    }
}

.filter-nav {
    margin-bottom: 20px;

    & .row {
        padding: 0;
    }

    & [class*='col-'] {
        padding-left: 8px;
        padding-right: 8px;
    }

    & nav {
        float: right;
    }

    & a { 
        display: inline-block;
        width: 180px;
        padding: 8px 0;
        border:1px solid #333;
        text-align: center;
        text-transform: uppercase;
        color: #333;
        font-weight: bold;
        text-decoration: none;

        &:last-of-type {
            padding-right: 0;
        }

        &:hover {
            background: #333;
            color: #fff;
        }
    }
}