
$two-third-width: 620px;
$gutter-width: 10px;

.container.flex {
    display: flex;
}

.col-flex {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
 
    &.two-third { max-width: $two-third-width; }
       
    &.columns {
        flex-direction: row;
        > .col-flex ~ .col-flex {
            margin-left: $gutter-width;
        }
    }
    
    &.rows {
        flex-direction: column;
        > .col-flex ~ .col-flex {
            margin-top: $gutter-width;
        }
    }
}

.bgred { background: red; }
.bgblue { background: blue; color: white; }
.bgpurple { background: purple; }
.bgpink { background: pink; }
.bgorange { background: orange; }
.bgyellow { background: yellow; }
