
.flex-row {
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 10px;

    @include min(768) { 
        flex-direction: row;
        margin: 20px 0 0 0;
    }

    & > .flex-item {
        margin-bottom: 20px;

        @include min(768) { margin: 0 10px; }

        & > .flex-item:not(:last-of-type) { margin-bottom: 20px; }
    }
}

.flex-row:first-of-type { margin-top: 0; }

.flex-row-inner {
    display: flex;
    flex-direction: column;

    @include min(768) { flex-direction: row; }

    & > .flex-item:not(:last-of-type) {
        margin-bottom: 20px;

        @include min(768) { 
            margin-right: 20px;
            margin-bottom: 0;
        }
    }
}

.flex-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;

    & img {
        width: 100%;
        height: auto;
    }

    &.one-third, &.two-third { flex-basis: 100%; }

    @include min(768) {
        & img {
            width: auto;
            height: auto;
        }

        &.one-third  { flex-basis: 250px; }
        &.two-third { 
            flex-basis: 450px;
            max-width: 450px;
        }
    }

    @include min(992) {
        &.one-third  { flex-basis: 300px; }
        &.two-third { 
            flex-basis: 620px;
            max-width: 620px;
        }
    }
}

.content-block {
    padding: 15px;

    & p { margin: 0 0 8px; }
}

.no-flex {
    width: 100%;
    
    &.top { margin-bottom: 20px; }
    &.bottom { margin-top: 20px; }

    & img { max-width: 100%; }
}
