
.flex-wrapper {
    background: #333;
    padding-bottom: 20px;
}

.flex-row {
    display: flex;
    flex-direction: column;

    @include min(768) { flex-direction: row; }

    & > .flex-item { 
        margin: 0 10px;

        & .flex-item {
            margin-bottom: 20px;
        }
    }
    & .flex-item-nofill { margin-bottom: 20px; }
}

.flex-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    & img {
        width: 100%;
        height: auto;
    }

    &.one-third { flex-basis: 100%; }
    &.two-third { flex-basis: 100%; }

    @include min(768) {
        & img {
            width: auto;
            height: auto;
        }

        &.one-third  { flex-basis: 265px; }
        &.two-third { 
            flex-basis: 450px;
            max-width: 450px;
        }
    }

    @include min(992) {
        &.one-third  { flex-basis: 320px; }
        &.two-third { 
            flex-basis: 620px;
            max-width: 620px;
        }
    }

    &.content {
        padding: 12px;
    }
}

.disable-flex {
    flex: none;
}

.bgyellow { background:#ffcd00; }
.bgblue { background: $blue; }


