// Breakpoints
$bp-ms: 480;
$bp-sm: 768;
$bp-md: 992;
$bp-lg: 1200;

// Colours
$white: #ffffff;
$black: #000000;
$green: #0097a9;
$yellow: rgb(255, 205, 0);
$dark-grey: #424244;
$light-grey: #537385;
$light-green: #d9f3ca;
$dark-green: #537381;
$blue: #0065bd;
$hover: #33acba;
$grey: #d8e1e7;
$red: #ff0000;
$green: #008000;

// rgba transparency
$green-transparency: rgba(0, 151, 169, .8);

// Fonts
$basefont-size: 16;                    // Used in "em" function for media query min() and max() mixins
$base-font-size: 16px;
$base-line-height: 20px;
$baseline-px: ($basefont-size * 1px);  // Used in "rem" mixin, base font size in px
